{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div class="loading-container">
			<div class="loading-screen"></div>
		</div>
		<div id="loading">
			<div class="loading">
				<div class="loading--audio">
					<div class="audio-wrapper regular">
						<div class="bar bar-1"></div>
						<div class="bar bar-2"></div>
						<div class="bar bar-3"></div>
						<div class="bar bar-4"></div>
						<div class="bar bar-5"></div>
					</div>
				</div>
				<div class="loading--break"></div>
				<div class="loading--title">
					La Krypte
				</div>
			</div>
		</div>

		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<h1 class="header--logo" role="banner">
						<a class="header--logo--link" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="header--nav--main" class="header--nav" role="navigation">
						{% include "menu.twig" with {'items': menu.get_items} %}
					</nav>
				</div>
			{% endblock %}
		</header>

		<div data-barba="wrapper">
			<section data-barba="container" data-barba-namespace="{{ post.slug }}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</section>
		</div>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
