Copyright {{"now"|date('Y')}}
<div class="">
    <div class="">
        {{ on__footer }}
    </div>
    <div class="">
        {{ footer__1 }}
        {{ footer__2 }}
        {{ footer__3 }}
    </div>
</div>