{% extends "base.twig" %}

{% block content %}
    <div id="template-projects" class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="page--content">
                <div class="page--content--banner" {% if not post.thumbnail %}style="min-height: auto; height: 20vw"{% endif %}>
                    {% if (post.thumbnail) %}
                        <img class="page--content--banner--thumbnail" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
                    {% endif %}
                    <h1 class="page--content--banner--title">{{post.title}}</h1>
                </div>
                <div id="projects" class="page--content--list">
                    <div id="project" class="project">
                        {% for project in projects %}
                            <div class="project--item">
                                <div class="row">
                                    <div class="col7 project--item--img {% if loop.index is divisible by(2) %}order-1{% endif %}">
                                        {% set foo = project.post_banner_img|split(',') %}
                                        {% for img in foo %}
                                            <img class="project--item--img--thumbnail--supp thumbnail--supp--{{ loop.index }}" src="{{ post.thumbnail.src('medium_16x9') | default( Image(img).src('medium_16x9') ) }}">
                                        {% endfor %}
                                        <img id="project--item--img--thumbnail" class="project--item--img--thumbnail" src="{{ project.thumbnail.src }}" />
                                    </div>
                                    <div class="col5 project--item--content {% if loop.index is divisible by(2) %}order-0{% endif %}">
                                        <h2 class="project--item--content--name">{{ project.title }}</h2>
                                        <p class="project--item--content--text">{{ project.preview.read_more('') }}</p>
                                        <a href="{{ project.link }}" class="btn project--item--body--btn">
                                            <hr class="btn--dash" />En savoir plus
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="page--content--body">
                    {{post.content}}
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}